:root {
  font-family: Arial, Helvetica, sans-serif;
  
}

body{
  background-color: #02f3b78c;
}

::-webkit-scrollbar {
  display: block;
}

.scrollbar {
  overflow: scroll;
  background-color: rgb(255, 0, 0) ;
  border-radius: 10px;
  overflow-y: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
